

body {background-color: black;}

.PAGES  {height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}

.box-tasvir {
    overflow-anchor: 30pxs;
    width: 84%;
    position: relative;
    margin: 0 auto;
}
@keyframes masihscroll {
    0% {transform: translateY(0%);}
    50% {transform: translateY(-80%);}
    100% {transform: translateY(-0%);}
}
.box-tasvir img {
    width: 100%;
    height: auto;
    max-width: 100%;
    transition: all 3s;
    animation-duration: 25s;
    animation-name: masihscroll;
    animation-iteration-count: 1000;
}

#content {
    margin-bottom: -9px;
    padding-bottom: -9px;
}

#content1 {
    margin-top: -7px;
    margin-bottom: -7px;
}